.submit-button {
	width: 100%;
	border: 0;
	text-align: center;
	padding: var(--primary-gap);
	border-radius: 10em;
	font-size: 1rem;
	color: white;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background: var(--orange);
	cursor: pointer;
	user-select: none;
}

.submit-button:hover {
	color: var(--orange);
	background: var(--white);
}
.submit-button:focus-visible {
	outline: 0.5em solid hsla(var(--orange-raw), 0.5);
}
